#contact_modal {
  display: none;
}

.top-head {
  height: 90px;
  margin: 30px 0;
}

.photograph-header {
  background-color: #fafafa;
  margin: 0 100px;
  padding: 20px;
}

.photograph-header article {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.photograph-header article h2 {
  color: #79301f;
  font-size: 64px;
}

.photograph-header article img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0px 0px 20px 0px rgba(135, 135, 135, 0.5);
}

.photograph-header article .location {
  color: #901c1c;
  font-size: 24px;
}

.photograph-header article .taglines {
  color: #525252;
  font-size: 18px;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}
/*Dropdown list*/
/* https://www.youtube.com/watch?v=f_E5d9Gt5nM */

.filter {
  margin: 25px 100px;
  display: flex;
  gap: 1rem;
}
.filter-label {
  padding-top: 10px;
}
#dropdown {
  background: #901c1c;
  color: #fff;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  padding: 10px;
  border-bottom: 1px solid #fff;
  width: 10rem;
}

/* media container : */
.media_section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
  margin: 50px 100px;
}
.media_section article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: right;
  flex-direction: column;
}
.media_section article img,
video {
  height: 500px;
  width: 500px;
  border-radius: 12px;
  object-fit: cover;
  box-shadow: 0px 0px 20px 0px rgba(135, 135, 135, 0.5);
  cursor: pointer;
}

.media_section article .ImgTitle {
  display: flex;
  padding-top: 20px;
  justify-content: space-between;
  align-items: center;
}

.media_section article .ImgTitle .title {
  color: #901c1c;
  font-size: 17px;
}

.media_section article .ImgTitle .review {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.media_section article .ImgTitle .review .likes {
  font-size: 20px;
  color: #901c1c;
}

.media_section article .ImgTitle .review .heartIcon {
  font-size: 20px;
  color: #901c1c;
  cursor: pointer;
}

/* for svg img : 
  height: 20px;
  width: 20px;
  filter: invert(14%) sepia(48%) saturate(4782%) hue-rotate(351deg)
    brightness(97%) contrast(86%);
}
https://codepen.io/sosuke/pen/Pjoqqp*/

/*Slider Show: */
.slide-bground {
  height: 100%;
  width: 100%;
  background-color: rgba(85, 100, 106, 0.9);
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  z-index: 1000;
}

#closeButton {
  position: absolute;
  cursor: pointer;
  top: 5%;
  right: 1rem;
  filter: invert(84%) sepia(76%) saturate(2268%) hue-rotate(344deg)
    brightness(98%) contrast(98%);
}

#closeButton:hover {
  filter: invert(100%) sepia(0%) saturate(7459%) hue-rotate(184deg)
    brightness(108%) contrast(100%);
}

#current_image,
#current_video {
  height: 650px;
  width: 700px;
  margin: 150px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}

/*Preview box*/
.preview-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  background: #fff;
  width: 800px;
  height: 800px;
  z-index: 5;
  opacity: 0;
  pointer-events: none;
  border-radius: 3px;
  padding: 0 5px 5px 5px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.preview-box.show {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.3s ease;
}

.hide {
  display: none;
}

.preview-box .details {
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
}
.preview-box .details .mediaTitle {
  color: #911c1c;
  font-size: 25px;
}

.details .icon {
  color: #837777;
  font-size: 50px;
  cursor: pointer;
}

.details .icon:hover {
  color: #901c1c;
}

.preview-box .image-box {
  display: flex;
  position: relative;
  width: 800px;
}

.image-box .slide button {
  position: absolute;
  top: 50%;
  font-size: 70px;
  color: #837777;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  background-color: transparent;
}

.slide.prev button {
  left: 0px;
}
.slide.next button {
  right: 0px;
}

.image-box .slide button:hover,
.image-box .slide button:focus {
  color: #911c1c;
  border: none;
}

.image-box .previewImage,
.image-box .previewVideo {
  width: 700px;
  height: 700px;
  object-fit: cover;
  margin: 0 auto;
  border-radius: 5px;
}

/*Contact Form : */
.form-bground {
  height: 100%;
  width: 100%;
  background-color: rgba(7, 12, 58, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  position: relative;
  margin: auto;
  top: 5%;
  z-index: 2;
}
.modal .form-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal .form-head img {
  cursor: pointer;
  height: 30px;
}

.modal .form-head h2 {
  font-size: 30px;
}

.modal p {
  font-size: 30px;
  margin: 0;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px auto;
}

form label {
  font-size: 20px;
  padding: 5px 0;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

form input {
  width: 100%;
  height: 2rem;
  border: none;
  border-radius: 5px;
}

.submit_button {
  color: white;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
  padding: 15px 25px;
}

#message {
  height: 10rem;
  border: none;
  border-radius: 5px;
}

/*Counter:*/
.tag {
  background: #db8876;
  width: 376px;
  height: 89px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  position: fixed;
  right: 100px;
  bottom: 0;
  border-radius: 5px 5px 0 0;
  font-size: 24px;
}
/* RESPONSIVE : */
@media screen and (max-width: 1799px) {
  .media_section article img,
  video {
    height: 325px;
    width: 325px;
  }
}
@media screen and (max-width: 1280px) {
  .photograph-header {
    padding: 20px;
  }
  .photograph-header article h2 {
    font-size: 40px;
  }
  .photograph-header article .location {
    font-size: 20px;
  }
  .contact_button {
    font-size: 15px;
    width: 130px;
    height: 60px;
  }
  .photograph-header article img {
    height: 250px;
    width: 250px;
  }

  .media_section article .ImgTitle .title {
    font-size: 16px;
  }
  .media_section article .ImgTitle .review .likes {
    font-size: 15px;
  }
  .media_section article .ImgTitle .review .heartIcon {
    font-size: 15px;
  }
}

@media screen and (max-width: 1024px) {
  .top-head {
    height: 50px;
    margin: 20px 0;
  }
  .photograph-header {
    padding: 20px;
    margin: 0 20px;
  }
  .photograph-header article img {
    height: 200px;
    width: 200px;
  }
  .media_section article img,
  video {
    height: 200px;
    width: 200px;
  }
  .media_section article .ImgTitle .title {
    font-size: 12px;
  }
  .media_section article .ImgTitle .review .likes {
    font-size: 12px;
  }
  .media_section article .ImgTitle .review .heartIcon {
    font-size: 12px;
  }
}

@media screen and (max-width: 912px) {
  .top-head {
    height: 50px;
    margin: 50px 0;
    padding: 0 50px;
  }
  .filter {
    margin: 25px 40px;
  }
  .photograph-header article img {
    height: 200px;
    width: 200px;
  }
  .media_section {
    margin: 50px 20px;
  }
  .tag {
    width: 200px;
    height: 50px;
    gap: 1rem;
    font-size: 15px;
    right: 20px;
  }
}

@media screen and (max-width: 768px) {
  .photograph-header article h2 {
    font-size: 30px;
  }
  .photograph-header article .taglines {
    font-size: 13px;
  }
  .photograph-header article .location {
    font-size: 15px;
  }
  .contact_button {
    font-size: 12px;
    width: 120px;
    height: 50px;
  }
  .photograph-header article img {
    height: 150px;
    width: 150px;
  }
  #dropdown {
    font-size: 13px;
    padding: 8px;
  }
  #container {
    margin: 1rem;
  }

  .media_section {
    margin: 50px 18px;
  }
}
@media screen and (max-width: 570px) {
  .photograph-header article h2 {
    font-size: 20px;
  }
  .contact_button {
    font-size: 12px;
    padding: 5px;
    width: 100px;
    height: 30px;
  }
  .modal .form-head img {
    height: 20px;
  }
  .modal .form-head h2 {
    font-size: 20px;
  }
  .modal p {
    font-size: 20px;
  }
}
@media screen and (max-width: 540px) {
  .photograph-header article .taglines {
    font-size: 12px;
  }
  .photograph-header article .location {
    font-size: 12px;
  }

  .photograph-header article img {
    height: 130px;
    width: 130px;
  }
}

@media screen and (max-width: 517px) {
  .media_section article img,
  video {
    height: 280px;
    width: 280px;
  }
}
@media screen and (max-width: 470px) {
  .photograph-header {
    padding: 10px;
    margin: 0 15px;
  }
  .media_section article img,
  video {
    height: 300px;
    width: 300px;
  }
}
@media screen and (max-width: 455px) {
  .photograph-header article h2 {
    font-size: 15px;
  }
  .contact_button {
    font-size: 12px;
    padding: 5px;
    width: 95px;
    height: 30px;
  }
  .photograph-header article img {
    height: 80px;
    width: 80px;
  }
  #dropdown {
    font-size: 12px;
    padding: 7px;
  }
}
@media screen and (max-width: 395px) {
  .photograph-header article {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }
  .media_section article img,
  video {
    height: 260px;
    width: 260px;
  }
  .modal .form-head img {
    height: 15px;
  }
  .modal .form-head h2 {
    font-size: 15px;
  }
  .modal p {
    font-size: 15px;
  }
  form label {
    font-size: 13px;
  }
  .submit_button {
    padding: 8px 15px;
  }
}

@media screen and (max-width: 295px) {
  #dropdown {
    padding: 3px;
    font-size: 12px;
    width: 8rem;
  }
  .filter {
    margin: 20px;
  }
  .filter-label {
    font-size: 12px;
  }

  .media_section article img,
  video {
    height: 200px;
    width: 200px;
  }

  .modal .form-head img {
    height: 10px;
  }
  .modal .form-head h2 {
    font-size: 12px;
  }
  .modal p {
    font-size: 12px;
  }
  form label {
    font-size: 12px;
  }
}
