#contact_modal {
  display: none;
}

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
  padding: 0 20px;
}

.photograph-header article {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.photograph-header article h2 {
  color: #d3573c;
  font-size: 64px;
}

.photograph-header article img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0px 0px 20px 0px rgba(135, 135, 135, 0.5);
}

.photograph-header article .location {
  color: #901c1c;
  font-size: 24px;
}

.photograph-header article .taglines {
  color: #525252;
  font-size: 18px;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}
/*Dropdown list*/
/* https://www.youtube.com/watch?v=f_E5d9Gt5nM */

.filter {
  margin: 25px 100px;
  display: flex;
  gap: 1rem;
}
.filter-label {
  padding-top: 10px;
}

.dropdown {
  position: relative;
  cursor: pointer;
}

.dropdown-toggle {
  appearance: none;
  background-color: #901c1c;
  color: #fff;
  border: 0;
  padding: 12px 35px 12px 12px;
  position: relative;
  width: 100px;
  outline: none;
  cursor: pointer;
  overflow: hidden;
}

.dropdown .dropdown-toggle::after {
  content: "";
  border-width: 6px;
  border-radius: 3px;
  border-style: solid;
  border-color: transparent;
  border-top-color: inherit;
  position: absolute;
  right: 12px;
  top: calc(50% + 3px);
  transform: translateY(-50%);
}

.dropdown .dropdown-toggle.active::after {
  border-color: transparent;
  border-bottom-color: inherit;
  top: calc(50% - 3px);
}

.dropdown .dropdown-menu {
  background-color: #901c1c;
  color: #fff;
  text-align: center;
  list-style: none;
  padding: 5px 0;
  margin: 0;
  width: 100px;
  /*visibility: hidden;*/
}

.dropdown .dropdown-menu[aria-expanded="true"] {
  visibility: visible;
}

.dropdown .dropdown-menu li {
  height: 35px;
}

/* Underline: 
.dropdown li:after {
  content: " ";
  display: block;
  border-bottom: 1px solid #fff;
  width: 100%;
  padding: 5px 0;
}
*/
/* Shorten the length of Border-Bottom with CSS: https://codepen.io/GhHaider/pen/vwJXVw/*/

/* Native HTML method:  
#dropdown {
  background: #901c1c;
  color: #fff;
  border-radius: 8px;
  font-size: 1rem;
  padding: 10px;
  border-bottom: 1px solid #fff;
  width: 10rem;
}
*/

/* media container : */
.media_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  margin: 50px 100px;
  height: 100%;
}

.media_section article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: right;
  flex-direction: column;
}

.media_section article img,
video {
  height: 350px;
  width: 350px;
  border-radius: 12px;
  object-fit: cover;
  box-shadow: 0px 0px 20px 0px rgba(135, 135, 135, 0.5);
  cursor: pointer;
}

.media_section article .ImgTitle {
  display: flex;
  padding-top: 20px;
  justify-content: space-between;
  align-items: center;
}

.media_section article .ImgTitle .title {
  color: #901c1c;
  font-size: 17px;
}

.media_section article .ImgTitle .review {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.media_section article .ImgTitle .review .likes {
  font-size: 20px;
  color: #901c1c;
}

.media_section article .ImgTitle .review .heartIcon {
  font-size: 20px;
  color: #901c1c;
  cursor: pointer;
}

/* for svg img : 
  height: 20px;
  width: 20px;
  filter: invert(14%) sepia(48%) saturate(4782%) hue-rotate(351deg)
    brightness(97%) contrast(86%);
}
https://codepen.io/sosuke/pen/Pjoqqp*/

/*Slider Show: */
.slide-bground {
  height: 100%;
  width: 100%;
  background-color: rgba(85, 100, 106, 0.9);
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  z-index: 1000;
}

#closeButton {
  position: absolute;
  cursor: pointer;
  top: 5%;
  right: 1rem;
  filter: invert(84%) sepia(76%) saturate(2268%) hue-rotate(344deg)
    brightness(98%) contrast(98%);
}

#closeButton:hover {
  filter: invert(100%) sepia(0%) saturate(7459%) hue-rotate(184deg)
    brightness(108%) contrast(100%);
}

#previous,
#next {
  position: absolute;
  border: none;
  background: none;
  font-size: 4rem;
  top: 50%;
  color: #911c1c;
  /*color: rgba(255, 255, 255, 0.5);*/
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  padding: 20px;
}

#previous :hover,
#next :hover,
#next:focus,
#previous:focus {
  color: #fff;
}

#previous {
  left: 1rem;
}
#next {
  right: 1rem;
}

#current_image,
#current_video {
  height: 650px;
  width: 700px;
  margin: 150px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}

/*Preview box*/
.preview-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  background: #fff;
  width: 800px;
  height: 800px;
  z-index: 5;
  opacity: 0;
  pointer-events: none;
  border-radius: 3px;
  padding: 0 5px 5px 5px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.preview-box.show {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.3s ease;
}

.hide {
  display: none;
}

.preview-box .details {
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
}
.preview-box .details .mediaTitle {
  color: #911c1c;
  font-size: 25px;
}

.details .icon {
  color: #911c1c;
  font-size: 50px;
  cursor: pointer;
}
.preview-box .image-box {
  display: flex;
  position: relative;
  width: 800px;
}

.image-box .slide {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #911c1c;
  font-size: 65px;
  cursor: pointer;
  height: 50px;
  width: 60px;
  line-height: 50px;
  text-align: center;
  border-radius: 3px;
}

.slide.prev {
  left: 0px;
}
.slide.next {
  right: 0px;
}
.image-box .previewImage,
.image-box .previewVideo {
  width: 700px;
  height: 720px;
  object-fit: cover;
  margin: 0 auto;
  border-radius: 5px;
}

/*Contact Form : */
.form-bground {
  height: 100%;
  width: 100%;
  background-color: rgba(7, 12, 58, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  position: relative;
  margin: auto;
  top: 5%;
  z-index: 2;
}

.modal header {
  justify-content: space-between;
  width: 100%;
  padding: 0 auto;
}

.modal header img {
  cursor: pointer;
  height: 30px;
}

.modal header h2 {
  font-size: 30px;
  text-align: center;
}

.modal p {
  font-size: 30px;
  margin: 0;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px auto;
}

form label {
  font-size: 20px;
  padding: 5px 0;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

form input {
  width: 100%;
  height: 2rem;
  border: none;
  border-radius: 5px;
}

.submit_button {
  color: white;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
  padding: 15px 25px;
}

#message {
  height: 10rem;
  border: none;
  border-radius: 5px;
}

/*Counter:*/
.tag {
  background: #db8876;
  width: 376px;
  height: 89px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  position: fixed;
  right: 100px;
  bottom: 0;
  border-radius: 5px 5px 0 0;
  font-size: 24px;
}
