@import url("photographer.css");

html,
body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}
h1 {
  color: #901c1c;
  margin-right: 100px;
}
.logo {
  height: 50px;
  width: 200px;
  margin-left: 100px;
}

/* Photographe Profil Container */
.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
  margin-bottom: 100px;
}
.photographer_section article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.photographer_section article h2 {
  color: #79301f;
  font-size: 36px;
  text-align: center;
}
.photographer_section article img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0px 0px 20px 0px rgba(135, 135, 135, 0.5);
  cursor: pointer;
}
.photographer_section article .location {
  color: #901c1c;
  font-size: 13px;
  text-align: center;
}
.photographer_section article .taglines {
  color: black;
  font-size: 10px;
  text-align: center;
}
.photographer_section article .prices {
  color: #757575;
  font-size: 12px;
}

/* -- Responsive Media Query -- */
@media screen and (max-width: 1024px) {
  header {
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 2rem;
  }
  header h1 {
    margin-right: 0;
  }
  header .logo {
    margin-left: 0;
  }
  main {
    padding: 2rem;
  }
  .photographer_section article h2 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 912px) {
  header {
    padding: 2rem;
  }
}
@media screen and (max-width: 768px) {
  header {
    padding: 3rem;
  }
  main {
    padding: 3rem;
  }
  .photographer_section article h2 {
    font-size: 1rem;
  }
  .photographer_section {
    gap: 30px;
  }
}
@media screen and (max-width: 540px) {
  header {
    padding: 2rem;
    height: 70px;
  }
  h1 {
    font-size: 1.5rem;
  }
  main {
    padding: 1rem;
  }
  .photographer_section article img {
    height: 150px;
    width: 150px;
  }
  .photographer_section article h2 {
    font-size: 0.9rem;
  }
  .photographer_section {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 414px) {
  h1 {
    font-size: 1rem;
  }
  .photographer_section article img {
    height: 100px;
    width: 100px;
  }
  .photographer_section article .taglines {
    font-size: 9px;
  }
  .photographer_section {
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 375px) {
  header {
    flex-direction: column;
  }

  .photographer_section article .taglines {
    font-size: 12px;
  }
  .photographer_section {
    grid-template-columns: 1fr;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 280px) {
  header {
    padding: 1rem;
    height: 50px;
  }
  .photographer_section article h2 {
    font-size: 0.8rem;
  }
  .photographer_section article .location {
    font-size: 12px;
  }
  .photographer_section {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .photographer_section article img {
    height: 80px;
    width: 80px;
  }
}
